 <app-not-found [visible]="!cart || cart.foods.length <= 0"
notFoundMassage="Item not abailable"
resetLinkText="Go to Home!"
></app-not-found> 

<div *ngIf="cart && cart.foods.length >0"   class="container">
    <ul>
        <li *ngFor="let cartItem of cart.foods">
            <div>
                <img [src]="cartItem.imageUrl" [alt]="cartItem.name">
            </div>

            <div>
                <a routerLink="/food/{{cartItem.foodId}}">
                    {{cartItem.name}}
                </a>
            </div>

            <div>
                <select (change)="changeQuantiy(cartItem, quantitySelect.value)" #quantitySelect>
                    <option>{{cartItem.quantity}}</option>
                </select>
            </div>

            <div>
                {{cartItem.price | currency :'INR'}}
            </div>

            <div>
                <button class="remove-button" (click)="removeFromCart(cartItem)">Remove</button>
            </div>
        </li>
    </ul>

    <div class="checkout">
        <div>
            <div class="food-count">
                {{cart.foods.length}}
            </div>

            <div class="total-price">
                {{cart.totalPrice| currency :'INR'}}
            </div>
        </div>
        <a routerLink="/googlePay" (click)="orderComplete()">Process to Checkout</a>
    </div>
</div>