<app-not-found [visible]="!food"
notFoundMassage="Food not found"
resetLinkText="Go to Home!"
></app-not-found>
<div *ngIf="food" class="container">
    <img [src]="food.imageUrl" [alt]="food.name"/>

<div class="details">
    <div class="header">
        <span class="name">{{food.name}}</span>
        <span class="favorite {{food.favorite?'':'not'}} "></span>
    </div>

<div class="origin">
    <span *ngFor="let origin of food.origins">
        {{origin}}
    </span>
</div>


<div class="cook-time">
    <span>
        Time to cook about <strong>{{food.cookTime}}</strong>
    </span>
</div>

<div class="price">
    <span>{{totalPrice | currency:'INR'}}</span>
</div>



<div id="add">
   <div>
    Quantity:  <div class="wrapper">
        <span class="minus" (click)="minus()">-</span>
        <span class="num">{{quantity}}</span>
        <span class="plus" (click)="add()">+</span>
        </div>
    <!-- Quantity: <select (change)="changeQuantiy(food , quantitySelect.value)" #quantitySelect>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select> -->
</div>
</div>
<div>
    <button (click)="addToCart()">Add to cart</button>
</div>

</div>

